@import url("https://fonts.googleapis.com/css2?family=Grandstander&family=Hanalei&display=swap");

.square {
  width: 200px;
  height: 200px;
  border-style: groove;
  border-color: #52c58b;
  background-color: #f4f4f4;
}
.grid {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 618px;
  height: 618px;
}
.mole {
  background-image: url("mole.png");
  background-size: cover;
}
.forms {
  display: flex;
  flex-flow: wrap;
  margin-left: 47%;
}
.timeandscore {
  display: flex;
  flex-flow: row;
  font-family: "Grandstander", cursive;
  color: #a0d2eb;
  text-shadow: 1px 2px #494d5f;
}

h1 {
  text-align: center;
  font-family: "Hanalei", cursive;
  font-size: 60px;
  text-shadow: 1px 3px #494d5f;
  color: #a0d2eb;
}
body {
  background-color: #292b33;
}

#playBtn:hover {
  color: aqua;
  background-color: black;
}
#resetBtn:hover {
  color: aqua;
  background-color: black;
}
