@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: "Ranchers", cursive;
  font-size: 60px;
  text-shadow: 1px 3px black;
  color: #a0d2eb;
}
#links {
  font-size: 30px;
}
body {
  background-color: black;
}
li {
  font-family: "Patrick Hand", cursive;
  color: #e5ea5f;
}
a {
  color: aqua;
}
